
.container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;

}
.RegisterPage{
  color: black  ;
  /* background-color: #f0f8ff; */
  /* background: linear-gradient(135deg, #83eaf1 10%, #63a4ff 100%); */
  background-image: url(../assest/Background/dr6.jpg);
  background-repeat: no-repeat;
}
.login-url{
  display: block;
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  color: #043c71;

}
.login-url:hover{
  color: #0758a3;
}
.form-container{
  text-align: center;
  /* border: 1px solid black; */
  padding: 20px;
  width: 360px;
  box-shadow: 2px 4px 8px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
}

.form-container h2 {
  text-align: center;
  color: #333; /* Dark gray color for the heading */
  margin-bottom: 20px;
}
.ant-form-item {
  margin-bottom: 16px;
}
.ant-input,
.ant-input-password {
  padding: 8px;
  font-size: 13px;
}
.ant-btn-primary {
  /* width: 100%; */
  background-color: #1890ff;
  border-color: #1890ff;
  font-size: 15px;
}
.ant-btn-primary:hover {
  background-color: #40a9ff;
  border-color: #40a9ff;
}
.text {
  text-align: center;
  margin-bottom: 24px;
}
.text h2{
  color: #2a2769;
}
.animated-letter {
  display: inline-block;
  opacity: 0;
  animation: moveAndFade 5s infinite;
}

@keyframes moveAndFade {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  20% {
    opacity: 1;
    transform: translateX(0);
  }
  90% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(10px);
  }
}